# Python / Odoo
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.env.*

# Local Database & Odoo Filestore Volumes
var/

# Logs
*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
